img{
    vertical-align: top;
    margin-top: -480px;
}

h2 {
    background-color:cadetblue;
    color: aliceblue;
    padding: 10px 10px;
}

.contenedor{
    width: 50%;
    margin: 0% auto;

}

.btn-volver{
    background-color: skyblue;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
}